<!DOCTYPE html>
<html >
<head>
<title>定时任务</title>
<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn" style="height:34px;">
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.beanName" @keyup.enter="query" placeholder="bean名称">
			</div>
			<a class="btn btn-default" @click="query">查询</a>
			<#if shiro.hasPermission("sys:schedule:info")>
			<a class="btn btn-primary" @click="detail"><i class="fa fa-reorder"></i>&nbsp;查看</a>
		    </#if>
			<#if shiro.hasPermission("sys:schedule:save")>
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:schedule:update")>
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:schedule:delete")>
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
			<#if shiro.hasPermission("sys:schedule:pause")>
			<a class="btn btn-primary" @click="pause"><i class="fa fa-pause"></i>&nbsp;关闭</a>
			</#if>
			<#if shiro.hasPermission("sys:schedule:resume")>
			<a class="btn btn-primary" @click="resume"><i class="fa fa-play"></i>&nbsp;开启</a>
			</#if>
			<#if shiro.hasPermission("sys:schedule:run")>
			<a class="btn btn-primary" @click="runOnce"><i class="fa fa-arrow-circle-right"></i>&nbsp;立即执行</a>
			</#if>
			<#if shiro.hasPermission("sys:schedule:run")>
			<a class="btn btn-primary" @click="queryOnce"><i class="fa fa-arrow-circle-right"></i>&nbsp;更新状态</a>
			</#if>

			<#if shiro.hasPermission("sys:schedule:log")>
			<a class="btn btn-danger" style="float:right;" href="schedule_log.html">日志列表</a>
			</#if>
		</div>
	    <table id="jqGrid_table"></table>
	    <div id="jqGridPager"></div>
	</div>

	<div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal" id="schedule-form">
			<div class="form-group">
				<div class="col-sm-2 control-label">任务类型</div>
				<div class="col-sm-10">
					<select class="form-control" v-model="schedule.type" @change="typeChangeCallback">
						<option v-for="option in typeOptions" v-bind:value="option.value">
							{{ option.text }}
						</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">阻塞于</div>
				<div class="col-sm-10" >
					<multiple-select v-bind:optionsdata="multiple.jobList" v-on:blockids="getBlockJobIds"  v-bind:selecteddata="multiple.selectedJobList" v-on:selected="multipleCallback"></multiple-select>
					<input type="hidden" v-model="schedule.blockJobIds" >
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">调度模式</div>
				<div class="col-sm-10">
					<select class="form-control" v-model="schedule.mode" @change="modeChangeCallback">
						<option v-for="option in modeOptions" v-bind:value="option.value">
							{{ option.text }}
						</option>
					</select>
				</div>
			</div>

			<div class="form-group" v-show="showMode0">
			   	<div class="col-sm-2 control-label">bean名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="schedule.beanName" placeholder="spring bean名称，如：testTask"/>
			    </div>
			</div>
			<div class="form-group" v-show="showMode0">
			   	<div class="col-sm-2 control-label">方法名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="schedule.methodName" placeholder="方法名称"/>
			    </div>
			</div>
			<div class="form-group" v-show="showMode0">
			   	<div class="col-sm-2 control-label">参数</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="schedule.params" placeholder="参数"/>
			    </div>
			</div>
			<div class="form-group" v-show="showMode1">
				<div class="col-sm-2 control-label">任务调度api地址</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="schedule.dispatchApi" placeholder="如：http://localhost:8080/api/job/start"/>
				</div>
			</div>

			<div class="form-group" v-show="showMode2">
				<div class="col-sm-2 control-label">任务调度shell脚本</div>
				<div class="col-sm-10">
					<textarea type="text" class="form-control" v-model="schedule.dispatchShell" placeholder="如：tomcat service start"></textarea>
				</div>
			</div>
			<div class="form-group" v-show="showMode2">
				<div class="col-sm-2 control-label">quartz客户端地址</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="schedule.clientIp" placeholder="如：127.0.0.1"/>
				</div>
			</div>


			<!--以下为公共模块-->
			<div class="form-group">
				<div class="col-sm-2 control-label">任务名称</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="schedule.jobName"  placeholder="如：凌晨一点报表产生"/>
				</div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">cron表达式</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="schedule.cronExpression"  placeholder="如：0 0 12 * * ?"/>
			    </div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">任务调度失败重试心跳间隔</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="schedule.dispatchIntervalTimes"  placeholder="单位秒.如：5"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">任务调度失败重试心跳次数</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="schedule.dispatchIntervalCounts"  placeholder="如：5"/>
				</div>
			</div>
			<div class="form-group" v-show="!showMode0">
				<div class="col-sm-2 control-label" >任务调度成功标志</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="schedule.dispatchSuccessValue"  placeholder="code(接受格式{code:0,msg:成功,data:{}})"/>
				</div>
			</div>

			<div class="form-group" v-show="!showMode0">
				<div class="col-sm-2 control-label">异步查询任务执行状态</div>
				<div class="col-sm-10">
					<select class="form-control" v-model="schedule.needQueryFlag" >
						<option value="0" >不需要</option>
						<option value="1">需要</option>
					</select>
				</div>
			</div>
			<div class="form-group" v-show="schedule.needQueryFlag==1">
				<div class="col-sm-2 control-label">异步查询任务执行结果时间间隔</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="schedule.afterSeconds" placeholder="单位秒"/>
				</div>
			</div>
			<div class="form-group" v-show="schedule.needQueryFlag==1">
				<div class="col-sm-2 control-label" >任务执行不成功重试心跳时间</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="schedule.excuteIntervalTimes"  placeholder="如：5"/>
				</div>
			</div>
			<div class="form-group" v-show="schedule.needQueryFlag==1">
				<div class="col-sm-2 control-label" >任务执行不成功重试心跳次数</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="schedule.excuteIntervalCounts"  placeholder="如：5"/>
				</div>
			</div>
			<div class="form-group" v-show="schedule.needQueryFlag==1 && showMode1">
				<div class="col-sm-2 control-label">异步查询任务执行结果api</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="schedule.queryApi" placeholder="如：http://localhost:8080/api/job/query"/>
				</div>
			</div>
			<div class="form-group" v-show="schedule.needQueryFlag==1 && showMode2">
				<div class="col-sm-2 control-label">异步查询任务执行结果所需shell脚本</div>
				<div class="col-sm-10">
					<textarea type="text" class="form-control" v-model="schedule.queryShell" placeholder="如：ps -ef|grep tomcat"></textarea>
				</div>
			</div>
			<div class="form-group" v-show="schedule.needQueryFlag==1">
				<div class="col-sm-2 control-label">异步查询返回成功的标志</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="schedule.querySuccessValue" placeholder="模糊msg(接受格式{code:0,msg:成功,data:{}})"/>
				</div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">备注</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="schedule.remark" placeholder="备注"/>
			    </div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div>
				<input type="button" id="submitBtn" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				<!--<input style="display: none;"type="submit" id="sub" value="submit" />-->
				&nbsp;&nbsp;<input type="button" id="backBtn" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${request.contextPath}/statics/js/modules/job/schedule.js?_${.now?long}"></script>
<script src="${request.contextPath}/statics/js/modules/job/select-vue-component.js?_${.now?long}"></script>
</body>
</html>